#content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#content > div:not(.contentDiv) {
    border: 3px;
    border-style: solid;
    padding: 8px 16px;
}

.contentDiv {
    width: 100%;
}